{% extends "large_container.html" %} 
{% block other_top_links %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}about/css/about.css" />
{% endblock other_top_links %}



{% block main_flow %}
<div style="margin-top: 50px;">
<div class="row-fluid">
<div class="large-container span10 offset1">
<div class="row-fluid">
<div class="span10 offset1">
<div class="title red-title">
  <span class="title-word">What</span>makes a good night out?
</div>
</div>
</div>
<div class="row-fluid">
<div class="offset1 span10 text-container">
<div class="white-box text">
We have no idea, but hopefully we can help you find it, by putting everything together in a what's on guide that's designed for you
</div>
</div>
</div>



<div class="row-fluid">
<div class="span10 offset1">
<div class="title blue-title pull-right">
  <span class="title-word">When</span> do you find the time?
</div>
</div>
</div>
<div class="row-fluid">
  <div class="text-container offset1 span10">
    <div class="white-box text">
figg puts all your interests in one calendar, track tags and people that interest you and find the perfect mix
</div>
</div>
</div>




<div class="row-fluid">
<div class="span10 offset1">

<div class="title red-title">
  <span class="title-word">Who?</span>
</div>
</div>
</div>
<div class="row-fluid">
  <div class="text-container offset1 span10">
    <div class="white-box text">
What we do know, is that the best times are with the one's you love. Invite your friends, see when they're busy. Whether its a popcorn night at the cinema or a festival,
do it together.
</div>
</div>
</div>





<div class="row-fluid">
<div class="span12 centre-content">
  <a href="/"><img src="{{ STATIC_URL }}trans-logo.png" /></a>
</div>
</div>



<div class="row-fluid">
<div class="span6" style="text-align: center">
  <a href="mailto:fred@fi.gg">Fred</a> (Location: UK. <a href="/t/founder">#founder</a>, <a href="/t/developer">#developer</a>, <a href="/t/standup">#standup</a>)
</div>
<div class="span6" style="text-align: center">
<a href="mailto:devin@fi.gg">Devin</a> (Location: US. <a href="/t/community">#community</a>, <a href="/t/bigIdeas">#bigIdeas</a>, <a href="/t/folkFun">#folkFun</a>)
</div>
</div>
<div class="row-fluid">
<div class="span12" style="text-align: center">
Feedback, frustrations, felicitations? Get in touch! <a href="http:twitter.com/go_figger">@go_figger</a>
</div>
</div>




</div>
</div>
</div>
{% endblock main_flow %}
{% block general_links %}
{% endblock general_links %}
