{% extends "left_side.html" %} 
{% block other_top_links %}
<script>
$("body").css("opacity", 0);
</script>
{% endblock other_top_links %}

  {% block other_mid_links %}
  <script type="text/javascript">
  $script('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js', "jQueryUI");
  $script('http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js', 'underscore');
  $script('{{ STATIC_URL }}lib/sammy/lib/sammy.js', 'sammy')
  </script>
  {% endblock other_mid_links %}
{% block mainBody %}
{% load modulus %}
{% block top %}

{% endblock top %}
{% csrf_token %}
{% block events %}

<!-- infinite loading top boundary -->
<div data-bind="with: $root.objects.streamHolder">
<div data-bind="visible: loading">
  <div id="cals-load">
  <div data-bind="template: {'name': 'loading'}"></div>
</div>
</div>



<div style="margin-top: 60px" id="noEvents" data-bind="text: noEvents"></div>
<div data-bind="if: modelPageView.objects.streamHolder">
<div data-bind="startDown: updatingTop() && !loading()"></div>
<div style="margin-bottom: 60px" data-bind="scrollTop: updatingTop() && !loading(), scrollOptions: { 'loadFunc': updateTop }">
  <div data-bind="template: {'name': 'loading'}"></div>
</div>

<div data-bind="foreach: events" id="events">
<!-- ko if: $root.objects.streamHolder().dateChange($index) -->
<div data-bind="template: { 'name': 'datetmp', 'data': $root.dateTitleFactory(date) }"></div>
<!-- /ko -->
<!-- ko if: !$root.objects.streamHolder().dateChange($index) -->
<div class="clear-both"></div>
<div class="offset1 span9 event-divider"></div>
<!-- /ko -->
<!-- ko if: eventType === "empty" -->
<div data-bind="template: {'name': 'emptyEventTmp'}"></div>
<!-- /ko -->
<!-- ko if: eventType !== "empty" -->
<div data-bind="template: {'name': 'eventTmp'}"></div>
<!-- /ko -->
</div>
</div>
<!-- end of search or events holder -->
<div style="margin-bottom: 60px" data-bind="scrollBottom: updatingBottom() && !loading(), scrollOptions: { 'loadFunc': updateBottom }">
<div class="offset1 span9 event-divider"></div>
  <div data-bind="template: {'name': 'loading'}"></div>
</div>
</div>







{% include "update_holder.html" %}
{% include "tracking_holder.html" %}
{% include "create_event.html" %}

{% endblock events %}



{% endblock mainBody %}

{% block common-templates %}
<div class="modal hide" id="modal" data-bind="with: $root.objects.modalModel">
  <div data-bind="template: {'name': template()}"> 
  </div>
</div>


<script type="text/html" id="eventEditTmp">
<form class="event" data-bind="submit: post">
<div class="row-fluid">
<div class="span1">
<img style="margin-left: 10px;" class="pull-left large" data-bind="attr: { 'src': img }" />
</div>
<div class="span4">
<fieldset class="control-group">
  <input autocomplete="off" data-bind="value: title, valueUpdate: 'keyup', event: { focusout: function(){ analyse($data) } }" type="text" class="event-input-title" name="title" placeHolder="what's going on" />
</fieldset>
<div class="form-inline control-group">
<input placeholder="date" data-bind="datepicker: eventDate, datepickerOptions: { minDate: new Date(), dateFormat: 'd M yy' }" type="text" class="input-small" name="date"/>
<input placeholder="time" type="text" data-bind="value: eventTime" class="input-small" name="time"/>
<span class="help-inline"></span>
</div>
</div>
</div>

<div data-bind="visible: invitees().length" class="inviteBox">
<h4>Invites</h4>
<div data-bind="foreach: invitees" class="eventInvited">
  <span data-bind="text: $data" class="label label-info"></span>
</div>
</div>
<div style="margin-top: 5px" class="row-fluid">
<a data-bind="click: close" class="btn span2 offset1">Cancel</a>
<button type="submit" class="btn btn-primary span2 our-button" >Update</button>
</div>
<div class="span2 error-text" data-bind="text: errorText"></div>
<div class="span2 success-text" data-bind="text: successText"></div>
</form>
</script>


<script type="text/html" id="emptyEventTmp">
  <div class="row-fluid">
    <div class="span7 offset1">
      <h5 style="margin-bottom: 250px; display: block;">there are no events for <span data-bind="text: date.displayName()"></span></h5>
  </div>
  </div>
</script>



<script type="text/html" id="loading">
<div class="clear-both"></div>
<div class="row-fluid">
<div class="loading"> </div>
</div>
<div class="row-fluid"><div class="span8"></div></div>
<div style="text-align: center" class="row-fluid">
  loading, please wait
</div>
<div class="clear-both"></div>
</script>


{% include "common_parts/event.html" %}
{% include "note.html" %}
{% include "attending_names_and_tags.html" %}
  

<script type="text/html" id="eventCancellerModal">
<div data-bind="with: $root.objects.cancellerModal">
<a class="close" data-bind="click: cancel">&times</a>
<form action="/!cancel_event/" method = "post">
<div class="modal-header">
  <h3>Are you sure you want to cancel this event?</h3>
</div>
  <div class="modal-body">
    <a data-bind="click: post" class="btn btn-primary span1 offset1" href="#">Yes</a>
    <a data-bind="click: cancel" class="btn span1 cancel" href="#">No</a>
  </div>
<div class="span2 error-text" data-bind="text: errorText"></div>
<div class="span2 success-text" data-bind="text: successText"></div>
</form>
</div>
</script>


<script type="text/html" id="inviteModal">
<span data-bind="with: $root.objects.inviteBox">
<a class="close" data-bind="click: cancel">&times</a>
<form action="/!invite/" method="post" id="inviteForm">
<div class="modal-header">
  <h3>invites</h3>
</div>
<div class="modal-body">
  <div data-bind="foreach: followers" id="inviteFrame" class="span5">
    <div data-bind="attr: {'id': id}, 'click': select, css: {'selected': selected}">
      <img class="small-corners" data-bind="attr: { 'src': '{{ MEDIA_URL }}' + img, 'title': name }" />
      <span data-bind="text: name"></span>
    </div>
  </div>
</div>
<div class="modal-footer">
<div class="row-fluid">
<a data-bind="click: invite" style="width: 80px" class="btn btn-primary offset1" href="#">Invite!</a>
<a data-bind="click: cancel" style="width: 80px" class="btn cancel" href="#">Cancel</a>
</div>
</div>
</form>
</span>
</script>

<script type="text/html" id="venuePickerModal">
<span data-bind="with: $root.objects.venuePickerModal">
<a class="close" data-bind="click: close">&times</a>
<div class="modal-header">
<h3>Type In A Venue Name</h3>
</div>
<div class="modal-body">
<div class="span5">
  <fieldset class="control-group">
  <input type="text"   
    data-bind="jqAuto: { autoFocus: true, delay: 500 }, 
              jqAutoSource: possibleVenues,
              jqAutoQuery: getVenues, 
              jqAutoValue: venueId, 
              jqLabelValue: venueName, 
              jqAutoSourceLabel: 'label', 
              jqAutoSourceInputValue: 'label', 
              jqFuncProp: 'func', 
              jqAutoSourceValue: 'id'"
              name="venue" placeholder="My House" class="input-large where" />
            </fieldset>         
            
            </div>
</div>
<div class="modal-footer">
<div class="row-fluid">
<a data-bind="click: add" style="width: 80px" class="btn btn-primary offset1" href="#">Add</a>
<a data-bind="click: cancel" style="width: 80px" class="btn cancel" href="#">Cancel</a>
</div>
</div>
</span>
</script>



<script type="text/html" id="venueCreatorModal">
<span data-bind="with: $root.objects.venueCreatorModal">
<a class="close" data-bind="click: close">&times</a>
<div class="modal-header">
<h3>Create Venue</h3>
</div>
<form data-bind="submit: createVenue" action="/!cov/" method="post">
<div><label class="span2">name: </label><input data-bind="value: name" class="text-area" name="name" type="text" /></div>
<div><label class="span2">first line of address:</label><input data-bind="value: address" class="text-area" name="address" type="text" /></div>
<div><label class="span2">postcode: </label><input data-bind="value: postcode" class="text-area" name="postcode" type="text" /></div>
<div class="form-inline form-private"> <label><span class="span2">for your use only</span><input data-bind="checked: private" name="private" type="checkbox" /></label></div>
<div style="height: 15px; display: block"></div>
<div style="margin-left: 20px"><input type="submit" class="span2 offset2 btn create-venue" value="Submit" /></div>
<div class="span2 error-text" data-bind="text: errorText"></div>
<div class="span2 success-text" data-bind="text: successText"></div>
</form>
</span>
</script>

<script type="text/html" id="datetmp">
  <div class="row-fluid date-bg"><div data-bind="attr: {'id': timeLineId}" class="span9 date">
      <div class="date-text" data-bind="text: msg"></div>
</div></div>
</script>


<script type="text/html" id="signupModal">

<div data-bind="with: modelPageView.objects.loginSignUpModal">
<div class="modal-header"><a class="close" data-dismiss="modal">&times;</a>
  <h2>sign up</h2>
</div>
<!-- ko if: loading() -->
<div class="modal-body">
  <div class="loading"></div>
</div>

<!-- /ko -->


<div data-bind="if: !submitted() && !loading()">
  <form id="sign-in-form" name="sign-in" class="form-inline" data-bind="submit: signUp" method="POST">
    {% csrf_token %}
<div class="modal-body">
<div style="text-align: left" class="span4">
  <h4>figg is in limitted beta</h4>
   <p>if you'd like to request an invite, 
  please give us and twitter name and hopefully we can fit you in soon</p>
  <div class="control-group"><input class="text-area required" placeholder="@twitter_name" name="twitter" data-bind="value: twitter" type="text" /> </div>
<div id="sign-up-error" data-bind="text: errorText" class="error"></div>
</div>
</div>
<div class="modal-footer">
  <div class="form-inline control-group">
  <button href="#" type="submit" class="btn btn-primary span2">Sign Me Up!</button>
  <a href="#" data-bind="click: cancel" class="btn span2">cancel</a>
</div>
</div>
  </form>
</div>

<div data-bind="if: submitted() && !loading()">
<div class="modal-body">
  Thanks, we'll get back to you shortly and let you in when possible
</div>
</div>
</div>
</div>
</script>

<script type="text/html" id="blank">
</script>

<script type="text/html" id="venueDisplayTmp">
<div class="addMap">
<div class="span10 offset1 bottom-container">
<div style="text-align: center; clear: both; padding-bottom: 30px;">
<div class="box-closer"><a data-bind="click: close" class="close">&times;</a></div>
<div  style="padding: 20px 15px"> 
<h5 data-bind="text: name" class="pull-left" style="margin-bottom: 15px"></h5>
<div id="map_canvas"></div>
<div data-bind="text: address" class="span2"></div>
<div class="span3 offset1">
<a data-bind="attr: { 'href': link }">google maps</a>
</div>
</div>
</div>
</div>
</div>
</script>


<script type="text/html" id="invite">
<div class="row-fluid">

<div class="span5 notification-title">
  <a data-bind="attr: {'href': '/' + from_user }">
  <span data-bind="text: from_user"></span></a> invited you to an event on <a data-bind="text: event.date.displayName(), attr: { 'href': '/d/' + event.date.asLink() }"></a>:
</div>
</div>
</div>
<div data-bind="template: { 'name': 'eventTmp', 'data': event}"></div>
</script>

<script type="text/html" id="response">
<div class="row-fluid">
<div class="span1">
  <img style="margin-left: 10px;" class="pull-left large" data-bind="attr: { 'src': '{{ MEDIA_URL }}' + img }" />
</div>
<div class="span5 notification-title">
  <a data-bind="text: from_user, attr: { 'href': '/' + from_user }"></a>
  <!-- ko if: accepted -->
  accepted your invite to 
  <!-- /ko -->
  <!-- ko if: !accepted -->
  is unable to make 
  <!-- /ko -->
  "<b data-bind='text: title'></b>" on <a data-bind="text: eventDate.displayName(), attr: { 'href': '/d/' + eventDate.asLink() }"></a></div>
</div>
<div class="event-bottom">
</div>
</script>

<script type="text/html" id="cancel">
<div class="row-fluid">
<div class="span1">
  <img style="margin-left: 10px;" class="pull-left large" data-bind="attr: { 'src': '{{ MEDIA_URL }}' + img }" />
</div>
<div class="span5 notification-title">
  <a data-bind="text: from_user, attr: { 'href': '/' + from_user }"></a>
  cancelled
  "<b data-bind='text: title'></b>" on <a data-bind="text: eventDate.displayName(), attr: { 'href': '/d/' + eventDate.asLink() }"></a></div>
</div>
<div class="event-bottom">
</div>
</script>

<script type="text/html" id="mention">
<div class="row-fluid">

<div class="span5 notification-title">
  <a data-bind="attr: {'href': '/' + creator }">
  <span data-bind="text: creator"></span></a> mentioned you in a note for <a data-bind="text: event.date.displayName(), attr: { 'href': '/d/' + eventDate.asLink() }"></a>:
</div>
</div>
<div data-bind="template: { 'name': 'eventTmp', 'data': event}"></div>
</script>

<script type="text/html" id="comment">
<div class="row-fluid">

<div class="span5 notification-title">
  <a data-bind="attr: {'href': '/' + creator }">
  <span data-bind="text: creator"></span></a> commented on your note for <a data-bind="text: event.date.displayName(), attr: { 'href': '/d/' + event.date.asLink() }"></a>:
</div>
</div>
<div data-bind="template: { 'name': 'eventTmp', 'data': event}"></div>
</script>

<script type="text/html" id="share">
<div class="row-fluid">

<div class="span5 notification-title">
  <a data-bind="attr: {'href': '/' + creator }">
  <span data-bind="text: creator"></span></a> shared a note on <a data-bind="text: event.date.displayName(), attr: { 'href': '/d/' + event.date.asLink() }"></a>:
</div>
</div>
<div data-bind="template: { 'name': 'eventTmp', 'data': event}"></div>
</script>


<script type="text/html" id="change">
<div class="row-fluid">
<div class="span1">
  <img style="margin-left: 10px;" class="pull-left large" data-bind="attr: { 'src': '{{ MEDIA_URL }}' + event_img }" />
</div>
<div class="span5 event-title">
<b data-bind="text: creator"></b> suggested moving "<b daa-bind='text: title'></b>"
</div></div>
<!-- <div data-bind="template: { name: 'note' }"></div> -->
</script>






{% endblock common-templates %}


{% block tailScripts %}

<script src="{{ STATIC_URL }}main/js/dateLineSpy.js"></script>
<script  type="text/javascript" src="{{ STATIC_URL }}main/js/calTag.js"></script>
<script  type="text/javascript" src="{{ STATIC_URL }}main/js/dateLine.js"></script>
<script  type="text/javascript" src="{{ STATIC_URL }}main/js/dateTitle.js"></script>
  
  <script  type="text/javascript" src="{{ STATIC_URL }}main/js/forms.js"></script>
  <script  type="text/javascript" src="{{ STATIC_URL }}main/js/main_page_app.js"></script>
<script  type="text/javascript" src="{{ STATIC_URL }}main/js/trackingHolder.js"></script>
<script>
  $script("{{ STATIC_URL }}main/js/main_page_app.js", 'main');
  $script("{{ STATIC_URL }}main/js/eventHolder.js", 'eventHolder');
  $script("{{ STATIC_URL }}main/js/trackingHolder.js", 'trackingHolder');
</script>

  <script  type="text/javascript" src="{{ STATIC_URL }}main/js/updateHolder.js"></script>
  <script  type="text/javascript" src="{{ STATIC_URL }}main/js/searchHolder.js"></script>
  <script  type="text/javascript" src="{{ STATIC_URL }}main/js/searchUserHolder.js"></script>
  <script  type="text/javascript" src="{{ STATIC_URL }}main/js/urls.js"></script>


{% endblock %}
