{% extends "index.html" %}

{% block extra-info %}
{% comment %}
<div class="page_title">
  #{{ details.tag }}blahblahblah<wbr>blahblahblahblahblah
</div>




<div class="details">
    <div style="border-bottom: 1px solid #383838" class="row-fluid small-text">
    <div class="span12">
      20 Tag Makers {{ details.added_user }}
    </div>
    </div>
    <div style="border-bottom: 1px solid #383838" class="row-fluid small-text">
    <div class="span12">
      20 Tag Trackers {{ details.added_user }}
    </div>
    </div>
</div>

{% endcomment %}





{% endblock extra-info %}


