<!-- tracking holder -->
<div data-bind="if: $root.objects.profileHolder">
<div data-bind="if:!($root.objects.profileHolder().loading())">
<div data-bind="with: $root.objects.profileHolder">

    <div class="row-fluid">
        <div class="span7">
          <h2 style="margin-left: 10px"><span data-bind="text: title"></span><img style="display: inline" src="{{ STATIC_URL }}main/img/icons/tracks-grey.png"></h2>
        </div>
    </div>
        <div style="margin-top: 20px"></div>
        <div class="row-fluid">
		   	<div data-bind="foreach: attendees">
                <div data-bind="if: $root.objects.profileHolder().typeChange($index)">
                <div class="row-fluid">
                </div>
                </div>

                <div data-bind="template: {'name': 'large_' + type}"></div>
    		   	</div>
		</div>    	
        </div>
        </div>
</div>

<script type="text/html" id="large_cal">
    <div style="text-align: center">
    <div class="attending_holder wide">
    <a data-bind="attr: { 'href': '/' + name }" class="highlight">
    <img class="large attendee_img" data-bind="attr: {'src': '{{ MEDIA_URL }}' + img_large }" />
    </a>
    <span data-bind="if: modelPageView.streamType() === 'you'">
    <a data-bind="click: function(){ $parent.remove($index) }" class="highlight see-through">
    <span class="attending_status top_img">X</span>
    </a>
    </span>
    <!-- ko if: !selected() -->
    <a data-bind="click: function(){ $data.select() }" class="highlight">
        <img class="attending_status right_img" title="track" src="{{ STATIC_URL }}/main/img/icons/tracks-grey.png" /> 
    </a>
    <!-- /ko -->
    <!-- ko if: selected() -->
    <a data-bind="click: function(){ $data.select() }" class="highlight">
    <img class="attending_status right_img" title="track" src="{{ STATIC_URL }}/main/img/icons/tracks-redder.png" /> 
    </a>
    <!-- /ko -->
    <div class="row-fluid">
    <div class="span12" data-bind="'text': name"></div>
    </div>
    </div>
    </div>
</script>

<script type="text/html" id="large_tag">
    <div style="text-align: center">
    <div class="attending_holder wide">
    <a data-bind="attr: { 'href': '/t/' + name }" class="highlight">
        <div data-bind="text: '#'+ name" class="attendee_tag"></div>
    </a>
    <span data-bind="if: modelPageView.streamType() === 'you'">
    <a data-bind="click: function(){ $parent.remove($index) }" class="highlight see-through">
    <span class="attending_status top_tag">X</span>
    </a>
    </span>

    <!-- ko if: !selected() -->
    <a data-bind="click: function(){ $data.select() }" class="highlight">
        <img class="attending_status right_tag" title="track" src="{{ STATIC_URL }}/main/img/icons/tracks-grey.png" /> 
    </a>
    <!-- /ko -->
    <!-- ko if: selected() -->
    <a data-bind="click: function(){ $data.select() }" class="highlight">
    <img class="attending_status right_tag" title="track" src="{{ STATIC_URL }}/main/img/icons/tracks-redder.png" /> 
    </a>
    <!-- /ko -->
    </div>
    </div>
</script>
