{% extends "site_base.html" %}

{% block date_line %}
{% endblock date_line %}

{% block main_flow %}
<div style="padding: 100px; background-color: white; height: 800px">



<div style="margin-top: 20px" class="row-fluid">
<div class="span12">


<div rel="tooltip" title="fredkingham" class="attending_holder pull-left">
<a class="highlight">

<img class="large attendee_img" src="{{ MEDIA_URL }}/fredkingham/normal/left_normal.png" />
</a>
	<a class="highlight">
	<img class="attending_status" title="track" src="{{ STATIC_URL }}/main/img/icons/tracks-redder.png" /> 
	</a>
</div>



<div rel="tooltip" title="fredkingham" class="attending_holder pull-left">
<a class="highlight">

<img class="large attendee_img" src="{{ MEDIA_URL }}/fredkingham/normal/left_normal.png" />
</a>
	<a class="highlight hide">
	<img class="attending_status" title="track" src="{{ STATIC_URL }}/main/img/icons/tracks-grey.png" /> 
	</a>
</div>
</div>

<div style="margin-top: 20px" class="row-fluid">
<div class="attending_holder pull-left">
<a class="highlight">
	<div class="attendee_tag">
	#helloThere
	</div>
</a>
	<a class="highlight ">
	<img class="attending_status" title="track" src="{{ STATIC_URL }}/main/img/icons/tracks-redder.png" /> 
	</a>
</div>

<div class="attending_holder pull-left">
<a class="highlight">
	<div class="attendee_tag">
	#helloThere
	</div>
</a>
	<a class="highlight hide">
	<img class="attending_status" title="track" src="{{ STATIC_URL }}/main/img/icons/tracks-grey.png" /> 
	</a>
</div>

</div>

</div>
  <script type="text/javascript">
  $script('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js', "jQueryUI");
  $script('http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js', 'underscore');
  $script('{{ STATIC_URL }}lib/sammy/lib/sammy.js', 'sammy')
  $(".attending_holder").tooltip({placement: "bottom"})
  </script>
<script  type="text/javascript" src="{{ STATIC_URL }}main/js/leftSide.js"></script>
<script src="{{ STATIC_URL }}main/js/dateLineSpy.js"></script>
<script  type="text/javascript" src="{{ STATIC_URL }}main/js/calTag.js"></script>
<script  type="text/javascript" src="{{ STATIC_URL }}main/js/dateLine.js"></script>
<script  type="text/javascript" src="{{ STATIC_URL }}main/js/dateTitle.js"></script>
  
  <script  type="text/javascript" src="{{ STATIC_URL }}main/js/forms.js"></script>
  <script  type="text/javascript" src="{{ STATIC_URL }}main/js/main_page_app.js"></script>
<script>
  $script("{{ STATIC_URL }}main/js/main_page_app.js", 'main');
  $script("{{ STATIC_URL }}main/js/eventHolder.js", 'eventHolder');
</script>

  <script  type="text/javascript" src="{{ STATIC_URL }}main/js/updateHolder.js"></script>
  <script  type="text/javascript" src="{{ STATIC_URL }}main/js/searchHolder.js"></script>
  <script  type="text/javascript" src="{{ STATIC_URL }}main/js/searchUserHolder.js"></script>
  <script  type="text/javascript" src="{{ STATIC_URL }}main/js/profileHolder.js"></script>

  <script>









  
  </script>
{% endblock main_flow %} 