{% extends "small_container.html" %} 
{% block title %}
<h3>Sent</h3>
{% endblock %}

{% block subTitle %}
The email should be winging its way to you now,
it might take a few seconds
{% endblock %}


{% block errorText %}
{% if too_many %}
<span class="error">
We've sent 20 emails to that address! can we try a different one?
</span>
{% endif %}
{% endblock errorText %}
{% block button %}
<button class="span12 btn btn-primary btn-large" style="text-align: center; float: None; margin: 0 auto;" type="submit" >resend</button>
{% endblock %}
