{% extends "small_container.html" %} 

{% block title %}
<h3>please can we have your email</h3>
{% endblock title %}

{% block subTitle %}
we won't give it to anyone else and try to only email you when its sensible 
(you can change this)
{% endblock subTitle %}

{% block errorText %}
{% if flawed %}
that email doesn't look right, can we try again?
{% endif %}
{% endblock errorText %}

{% block button %}
<button class="span12 btn btn-primary btn-large" style="text-align: center; float: None; margin: 0 auto;" type="submit" >Done</button>
{% endblock %}
