<script type="text/html" id="eventTmp" >
<!-- ko if: eventEditor.show() -->
<div data-bind="template: {'name': 'eventEditTmp', 'data': eventEditor}"></div>
<!-- /ko -->
<!-- ko if: !eventEditor.show() -->  
<!-- ko if: time -->
<div data-bind="attr: {'id': time_name}" class="span4">
<div class="event-top-info" data-bind="text: time"></div>
</div>
<!-- /ko -->
<!-- ko if: !time -->
<span name = "none"></span>
<!-- /ko -->
</div>

<div data-bind="attr: { 'id': id }" class="row-fluid event">
<div class="span3 offset1 event-element">
<div class="event-img">
<img class="large" data-bind="attr: { 'src': img }" />
</div>
</div>
<div class="span6">
  <div class="event-element-text">
<div data-bind="html: title, css: { busy: private }" class="event-title"></div>
<!-- ko if: venue -->
<div>
  <a class="event-venue" data-bind="text: venue.title, click: function(){venue.reveal(venue)}"></a>
</div>
<!-- /ko -->

<!-- ko if: description -->
<div class="event_description" data-bind="html: description, css: { busy: private }"></div>
<!-- /ko -->


<div class="row-fluid">
  <div class="span12">
  <div class="bottom-event-option">
    <a href="#" data-bind="click: function(){modelPageView.decorators.loginRequired(function(){ $data.discuss.display($data.discuss, $data.id) })}">
    discuss
  </a>
  <a href="#" data-bind="click: function(){modelPageView.decorators.loginRequired($data.attendeeHolder.reveal)}">show attendees</a>
  <!-- ko if: optionHolder.creator -->
  <a href="#" data-bind="click: edit">edit</a>
  <a href="#" data-bind="click: cancel">cancel</a>
  <!-- /ko -->
  <!-- ko if: series -->
  <a data-bind="attr: {'href': '/i/' + series}">show series</a>
  <!-- /ko -->
  </div>
</div>
</div>
</div>
</div>



<!-- the right hand bar -->

<div class="showOptions">
<div class="star-element span2" data-bind="foreach: optionHolder.options ">
  <a rel="tooltip" data-bind="'tooltip': optionName, css: {'star': $index() === 0, 'icon': $index() > 0}, attr: {'title': optionName}, click: function(data, node){ modelPageView.decorators.loginRequired(function(){ $data.action(data, $parent, node)})}">
    <img data-bind="css: {'star': $index() === 0, 'icon': $index() > 0}, attr: { 'src': '{{ STATIC_URL }}' + img, 'alt': optionName }" />
  </a>
</div>

<!-- end options bar -->
</div>
<!-- end right hand -->

</div>





</div>

</div>




</div>

<div data-bind="if: attendeeHolder.show">
  
  <div data-bind="template: {'name': 'attendees', 'data': attendeeHolder }"> </div>
</div>

<!-- ko if: venue -->
<div data-bind="if: venue.show">
<div style="clear: both" data-bind="slideVisible: venue.show">
<div data-bind="template: {'name': 'venueDisplayTmp', 'data': venue }" class="small-shadow small-corners" ></div>
</div>
</div>
<!-- /ko -->
<div style="clear: both" data-bind="if: discuss.show">
  <div data-bind="template: {'name': 'note'}"></div> 
</div>
</div>
</div>
<!-- /ko -->
</script>